@import "reset";

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #ccc;
  background-color: #001a28;
  display: flex;

  &__canvas {
    width: calc(100vh / 6 * 8);
    height: 100vh;
  }

  & .column--right{
    padding: 30px;
  }

  & .text{
    &--subtitle{
      position: absolute;
      bottom: 15%;
      right: 10%;
    }
    &--small{
      color: #f48342;
      font-size: 58%;
      display: block;
      text-transform: uppercase;
    }
    &--color{
      color: #f48342;
      font-size: 250%;
    }
  }
}
