@import "reset";

// General

*{
  font-family: 'Poiret One', cursive, arial;
}

body{
  background-color: #ccc;
}

// Start Header

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #ccc;
  background-color: #001a28;
  display: flex;

  &__canvas {
    width: calc(100vh / 6 * 8);
    height: 100vh;
  }

  & .column--right{
    padding: 30px;
  }

  & .text{
    &--subtitle{
      position: absolute;
      bottom: 15%;
      right: 10%;
    }
    &--small{
      color: #f48342;
      font-size: 58%;
      display: block;
      text-transform: uppercase;
    }
    &--color{
      color: #f48342;
      font-size: 250%;
    }
  }
}

// E/O Header

// Start Projects

.projects{
  padding: 50px;

  &__title{
    margin: 100px;
    text-align: center;
    font-size: 50px;
  }

  &__container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
}


.menu{
  display: inline-flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #333;
  margin-bottom: 60px;

  &__filter{
    margin: 10px;
  }
}

.filter{
  &--deselected{
    color: #333;
    cursor: pointer;

    &:after{
      content: '';
      display: block;
      border: 2px solid #f48342;
      transform: scaleX(0);
      transition: transform 0.4s;
    }
    &:hover:after{
      transform: scaleX(1);
      transform-origin: 0% 50%;
    }
  }

  &--selected{
    color: black;
    border-bottom: 4px solid #f48342;
  }
}


.project{
  margin-top: 40px;
  width: 30%;
  position: relative;

  &__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;

    opacity: 0;
    transition: all 0.4s;
    &:hover{
      opacity: 1;
    }
  }

  &__img{
    width: 100%;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
  }

  &__title{
    color: #fff;
    text-transform: uppercase;
    padding-top: 30px;
    text-align: center;
  }

  &__discritpion{
    color: #fff;
    padding: 5px 0 30px;
    text-align: center;
    font-size: 15px;
  }

  &__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.button{
  width: 80px;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: all 0.3s;
  &:hover{
    background-color: #f48342;
  }
}

.hideProject{
  transform-origin: 50%;
  animation: hideProject 1s forwards;
}

.showProject{
  transform-origin: 50%;
  animation: showProject 1s forwards;
}

@keyframes hideProject {
  0%{
    transform: scale(1);
    position: absolute;
  }
  100% {
    transform: scale(0);
    transform-origin: 50%;
    position: absolute;
  }
}

@keyframes showProject {
  0%{
    transform: scale(0);
    position: relative;
  }
  100% {
    transform: scale(1);
    position: relative;
  }
}

// E/O Projects


// START About

.about{
  padding: 0 20%;

  &__title{
    padding: 100px 0 30px;
    text-align: center;
    font-size: 50px;
  }

  & .text{
    font-size: 16px;
    text-align: justify;
    padding: 20px;
    font-family: arial, cursive;
    color: #555;

    &--center{
      text-align: center;
    }

    &--color{
      padding: 0;
      color: #000;
    }
  }

}

.features{
  display: flex;
  justify-content: space-around;
  z-index: 2;
  background-color: #ccc;
  & .feature{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;

    &:nth-child(5n - 4){
      background-color: #f48342;
    }
    &:nth-child(5n - 3){
      background-color: #f7ef5d;
    }
    &:nth-child(5n - 2){
      background-color: #00b740;
    }
    &:nth-child(5n - 1){
      background-color: #f7ef5d;
    }
    &:nth-child(5n){
      background-color: #f48342;
    }
  }
}


// E/O About

// START Contact section

.contact{
  background-color: #001a28;
  color: #fff;
  margin-top: 50px;

  &__title{
    padding: 100px 0 30px;
    text-align: center;
    font-size: 50px;
  }

  &__subtitle{
    text-align: center;
    color: #f7ef5d;
    padding: 20px;
  }
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 0;

  &__input, &__textarea{
    width: 400px;
    background-color: #001019;
    margin: 5px;
    padding: 10px 15px;
    color: #fff;
  }

  &__button{
    background-color: #001a28;
    margin: 10px auto 60px;
    color: #ccc;
    border-color: #ccc;
    border-radius: 0;
    &:hover{
      background: #f7ef5d;
      border-color: #f7ef5d;
      color: #222;
    }
  }
}


// E/O Contact section

// START Footer

.footer{
  background-color: #001019;
  color: #ddd;
  text-align: center;
  padding: 60px 0 40px;
  position: relative;

  & .text{
    &--color{
      color: #00b740;
    }
  }

  & .icons{
    display: flex;
    justify-content: center;
  }
}

.fas, .fab{
  font-size: 2rem;
  cursor: pointer;
  color: #ccc;
  transition: all 0.3s;
  margin: -20px 40px 30px;
  &:hover{
    color: #f7ef5d;
  }
}

.fa-angle-double-up{
  font-size: 3rem;
  margin: 0;
  animation: arrow 1.5s infinite;
  position: absolute;
  top: -15px;
  right: calc(3rem);
  color: #00b740;
  &:hover{
    color: white;
  }
}

@keyframes arrow {
  0% {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  100% {
    padding-top: 0px;
    padding-bottom: 30px;
  }
}

// E/O Footer
